@charset "utf-8";
/* CSS Document */

body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}

p{
	margin:2px;
	font-size:10px;
}

.date{
	font-size:18px;
	font-weight:bold;
	}

.title{
	font-size: 12px;
	font-weight:bold;
}

.times{
	font-size: 12px;
	color:rgb(100,100,100);
}

.map{
	display:block;
	border: solid grey 1px;
	width: 200px;
	height:200px;
}